{% extends 'base.html' %}

{% block content %}

<div class="card">

    <h2 class="title">Criar Conta ⚡</h2>

    <!-- MENSAGENS -->
    {% if messages %}
        {% for message in messages %}
            <div class="alert {{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    <form method="post">
        {% csrf_token %}

        <input type="text" name="username" class="form-control" placeholder="Usuário" required>

        <input type="email" name="email" class="form-control" placeholder="Email" required>

        <!-- SENHA -->
        <div class="position-relative">
            <input type="password" name="password" id="password" class="form-control" placeholder="Senha" required>
            <span class="eye" onclick="toggleSenha('password')">👁️</span>
        </div>

        <!-- CONFIRMAR SENHA -->
        <div class="position-relative">
            <input type="password" name="confirm_password" id="confirm_password" class="form-control" placeholder="Confirmar senha" required>
            <span class="eye" onclick="toggleSenha('confirm_password')">👁️</span>
        </div>

        <button type="submit" class="btn">Cadastrar</button>
    </form>

    <div class="link">
        <small>
            Já tem conta?
            <a href="/login/">Entrar</a>
        </small>
    </div>

</div>

<script>
function toggleSenha(id) {
    const input = document.getElementById(id);
    input.type = input.type === "password" ? "text" : "password";
}
</script>

{% endblock %}